@{
    Page.Title = "Add a Quote";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Display Quote</title>
</head>
<body>
    <h2>Display Quote</h2>

</body>
</html>
