@{ 
    Page.Title = "Add a Quote";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MegaDesk</title>
</head>
<body>
    <h2>MegaDesk Quotes</h2>

    <form method="get" action="~/AddQuote.cshtml"
          <div>
              <input type="Submit" value="Add New Quote" /><br />
    </form>
    </div>

    <form method="get" action="~/ViewQuote.cshtml"
          <div>
            <input type="Submit" value="View Quotes" /><br />
    </form>
    </div>

    <form method="get" action="~/SearchQuote.cshtml"
          <div>
            <input type="Submit" value="Search Quotes" /><br />
    </form>
    </div>

</body>
</html>
