@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Mega Desk";

}


    <h2>MegaDesk Quotes</h2>

    <form method="get" action="~/AddQuote.cshtml">
        <div>
            <input type="Submit" class="btn" value="Add New Quote" /><br />
        </div>
    </form>
    <br />
    <form method="get" action="~/ViewSearchQuote.cshtml">
        <div>
            <input type="Submit" class="btn" value="View Quotes" /><br />
        </div>
    </form>   
    @*<br />*@
    @*<form method="get" action="~/EditQuote.cshtml">
        <div>
            <input type="Submit" class="btn" value="Edit Quotes" /><br />
        </div>
    </form>  
    <br />
    <form method="get" action="~/DeleteQuote.cshtml">
        <div>
            <input type="Submit" class="btn" value="Delete Quotes" /><br />
        </div>
    </form>*@  


</body>
</html>
